/*
darkest grey #171813
grey #3e4249
yellow #edb021
orange #da6801
red #a42102
*/


/* GENERAL */

body {
    margin-top: 0;
    font-family: 'europa', 'Raleway', Helvetica, sans-serif;
    font-size: 16px;
    /*background: url('../img/tile.jpg') top left repeat;*/
    background: whitesmoke;
}


/* GLOBAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

a:link,
a:visited {
    color: #edb021;
}

a:hover,
.widget ul li a:hover {
    text-decoration: none;
    color: #edb021;
    font-weight: bold;
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    color: #2a2a2a;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

.btn-success {
    background: #edb021;
    border: none;
}

.btn-read-more {
    background: transparent;
    border: 2px solid #a42102;
    color: #a42102;
    border-radius: 0;
}

a.btn-read-more {
    color: #a42102;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
}

.btn-read-more:hover {
    background: #a42102;
    color: white;
}

.btn-success:hover {
    background: #a42102;
}

img {
    max-width: 100%;
}

.modal-content {
    background: url('../img/tile.jpg') top left repeat;
}

.navbar-brand img {
    height: 30px;
}

.navbar-custom {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.thumbnail {
    background: white;
    border: none;
    height: 430px;
}

.thumbnail.right-caption>img {
    float: left;
    width: 100%;
}

.thumbnail.right-caption {
    float: left;
    height: 90px;
}

.badge.social {
    background: #ccc;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
}

.badge.social.widget {
    background: transparent;
    color: #2a2a2a;
}

.badge.social:hover {
    color: white;
    background: #2a2a2a;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.instagram:hover {
    background: #8a3ab9;
}

.badge.social.youtube:hover {
    background: #a42102;
}

blockquote {
    padding: 0;
    border: none;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

blockquote:before {
    display: none;
}

.sidebar {
    padding: 20px 20px 0 40px;
}


/* HERO */

#hero {
    background: url('../img/bg.jpg') center center no-repeat fixed;
    min-height: 100vh;
    /*height: 0;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    padding: 0 0;
    color: #2a2a2a;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#hero article {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#hero h1 {
    background:
}

#hero .hero-text {
    margin-top: 10px;
}


/* LAYOUT */

.row+.row {
    margin-top: 20px;
}

section {
    padding: 50px 0;
    color: #171813;
}

.section-header {
    text-align: center;
    text-transform: uppercase;
}

section h2 {
    margin: 20px 0 40px;
    letter-spacing: 0.1em;
}

section h3 {
    margin: 20px 0 10px;
}

#primary {
    padding-top: 40px;
    padding-bottom: 40px;
}

.feature-image {
    display: table;
    width: 100%;
    min-height: 40vh;
    background-size: cover;
}

.feature-image-default {
    background: url('../img/brooklyn.jpg') no-repeat;
    background-size: cover;
}

.feature-image-default-alt {
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('../img/skyline3.jpg') no-repeat;
}

.feature-image-resources {
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('../img/travel.jpg') fixed center center no-repeat;
    background-size: cover;
}

.feature-image-about {
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('../img/plenary.jpg') no-repeat;
    background-size: cover;
    background-position: center 50%;
}

.feature-image-events {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url('../img/header.jpg') no-repeat;
    background-size: cover;
    background-position: center 100%;
}

.feature-image-akar {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url('../img/akar-banner.png') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.feature-image-contact {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url('../img/contact.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature-image h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.feature-image-akar h1 {
    color: transparent;
}

#about {
    background: #2a2a2a;
    padding: 20px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
    text-align: center;
}

#about p {
    margin: 7px 0 0 0;
}

#about a:hover {
    font-weight: bold;
}

#latest-updates .thumbnail {
    background: #f5f5f5;
    padding: 0;
    border-radius: 0;
}

#latest-updates .thumbnail-content {
    color: #777777;
    height: 160px;
    margin: 4px;
}

#latest-updates h3 {
    color: #2a2a2a;
}

#latest-updates .thumbnail-img {
    height: 200px;
    overflow: hidden;
}

#upcoming-events {
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('../img/skyline.jpg') 100% 100% repeat fixed;
    /*background: url('../img/tile.jpg') top left repeat;*/
    text-align: center;
    color: white;
}

.num {
    display: table;
    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 24px;
    height: 140px;
    width: 140px;
    text-align: center;
    background: #a42102;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    vertical-align: middle;
    margin: 10px;
}

.num .num-content {
    display: table-cell;
    vertical-align: middle;
}

.num span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

#upcoming-events p {
    margin: 0 0 0;
}

#akar {
    padding: 0;
}

#akar h2 {
    margin: 50px 0 10px;
    letter-spacing: 0;
}

#newcomers {
    text-align: center;
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url('../img/queensboro.jpg') center center repeat fixed;
    background-size: cover;
    color: white;
    padding: 140px 0;
}

#newcomers h2 {
    letter-spacing: 0;
}

#akar h2 strong,
#contact strong,
.caption p strong,
.content-resources a,
.inline-link {
    color: #2a2a2a;
    border-bottom: solid 2px #a42102;
}

.inline-link:visited {
    color: #2a2a2a;
}

.inline-link:hover {
    background: #a42102;
    color: white;
}

#signup .btn {
    font-size: 24px;
}

#featurette {
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url('../img/queensboro.jpg') 100% 100% no-repeat fixed;
    color: white;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

#featurette h2 {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background: #3e4249;
    color: white;
    padding: 20px 0 0;
    font-size: 12px;
}

footer p {
    margin: 0;
}

footer a:link,
footer a:visited {
    color: white;
}

footer a:hover {
    color: #edb021;
}

footer li.signup-link a {
    color: #edb021
}

footer .badge.social {
    background: white;
    font-size: 12px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    /*margin: 0 5px 20px 0;*/
    padding: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #3e4249
}


/* CUSTOM ICON SPRITES */

i.ci {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer {
    background-position: 0 0;
}

.ci.ci-watch {
    background-position: -40px 0;
}

.ci.ci-calendar {
    background-position: -80px 0;
}

.ci.ci-community {
    background-position: -120px 0;
}

.ci.ci-instructor {
    background-position: -160px 0;
}

.ci.ci-device {
    background-position: -200px 0;
}


/* ABOUT */

#about-member,
#donate {
    background: #eeeeee;
}

#about-member img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.members {
    padding: 10px
}

.members h4 {
    margin: 5px 0 5px;
}

.members p {
    color: #777;
    font-size: 0.8em;
}

.members span {
    font-size: 0.9em;
}


/* BLOG */

.post,
.widget,
#comments {
    position: relative;
    margin: 0 0 40px
}

.post {
    border-bottom: solid 1px #ddd;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
    padding: 30px;
    padding-left: 0px;
}

.post header {
    text-align: center;
}

.post header h1,
.post header h3 {
    font-size: 30px;
    margin: 10px 0 15px;
    color: #2a2a2a;
}

.post header h1 {
    border-bottom: solid 1px #ddd;
}

.post header h3 a {
    color: #2a2a2a;
}

.post-image {
    height: auto;
}

.post-meta,
.post-details,
.post-details a {
    color: #777777
}

.post-cat>a {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.post-details {
    font-size: 12px;
}

.post-details i.fa {
    padding-left: 10px;
    padding-right: 5px;
}

.post-details i.fa:first-child {
    padding-left: 0;
}


/* WIDGET */

.widget h4,
.widget h5 {
    text-transform: uppercase;
    text-align: center;
}

.widget h4 {
    margin: 0 0 30px;
    padding: 10px;
    background: #2a2a2a;
    color: white;
    letter-spacing: 0.1em;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget h5,
.widget-categories ul li {
    padding-bottom: 10px;
    border-bottom: solid 1px #cccccc;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.widget ul li {
    margin: 0 0 5px;
}

.widget ul li a {
    color: #2a2a2a;
}

.widget-subscribe {
    padding: 20px;
    background: #e2e2e2;
}

.widget-subscribe form p {
    font-size: 12px;
    text-align: center;
}

.widget-recent-posts ul li {
    margin-bottom: 30px;
}

.widget-recent-posts ul li:last-child {
    margin-bottom: 60px;
}

.widget-recent-posts img {
    vertical-align: baseline;
    display: list-item;
    max-width: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    vertical-align: baseline;
}

.widget-categories ul li {
    font-weight: normal;
    text-transform: uppercase;
}

.widget-social {
    text-align: center;
    margin-bottom: 10px;
}


/* FORMS */

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
}


/* AKAR */

#akar-instructor {
    text-align: center;
}

#akar-instructor .row {
    padding-bottom: 20px;
}

#akar-activities {
    background: #e2e2e2;
}

#akar-activities h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
}


/*#akar-activities img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}*/

.instructor img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cropped {
    height: 200px;
    overflow: hidden;
}


/* EVENTS */

.event-section {
    padding-top: 0;
    padding-bottom: 20px;
}

.center-cropped {
    height: 250px;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
}

.grey-bg {
    background: #e2e2e2;
}

#regular-events h3 {
    background: #a42102;
    color: white;
    display: inline;
    font-size: 26px;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

#regular-events span {
    font-weight: bold;
    display: inline;
    background: #edb021;
}

#event-akar {
    background: url('../img/akar3.jpg') center center no-repeat;
    background-size: cover;
}

#jamming {
    background: url('../img/jamming.jpg') center center no-repeat;
    background-size: cover;
}

#potw {
    background: url('../img/potw.jpg') center center no-repeat;
    background-size: cover;
}

#nyidstory {
    background: url('../img/nyidstory.jpg') center center no-repeat;
    background-size: cover;
}


/* RESOURCES */

#miss-home {
    background: #eee;
}

.resources-section h3 {
    font-size: 30px;
    background: #edb021;
    display: inline;
    padding: 10px 10px 0px 20px;
}

#pre-arrival {
    background: url('../img/pre-arrival.jpg') center center no-repeat;
    background-size: cover;
}

#transport {
    background: url('../img/taxi.jpg') center center no-repeat;
    background-size: cover;
}

#housing {
    background: url('../img/housing.jpg') center center no-repeat;
    background-size: cover;
}

#indojava {
    background: url('../img/indojava.jpg') center center no-repeat;
    background-size: cover;
}

#upijaya {
    background: url('../img/upijaya.jpg') center center no-repeat;
    background-size: cover;
}

#skycafe {
    background: url('../img/skycafe.jpg') center center no-repeat;
    background-size: cover;
}

.content-resources {
    padding: 20px 20px 20px 0;
}

.content-resources a {
    color: #2a2a2a;
}

.content-resources strong {
    background: #edb021;
}

​
/* MEDIA QUERIES */

@media screen and ( max-width:991px) {
    #instructor .container {
        background: rgba(255, 255, 255, 0.8);
    }
}

@media screen and (max-width:768px) {
    .logo {
        width: 50%;
    }
    #optin p {
        margin: 0 0 10px;
    }
    #featurette iframe {
        height: 240px;
    }
    .navbar-custom {
        background: rgba(20, 20, 20, 0.8);
        border-bottom: 1px solid transparent;
    }
    .members {
        width: 50%;
    }
}

@media screen and (max-width:568px) {
    #instructor .num {
        height: 100px;
        width: 100px;
        font-size: 22px;
    }
    #instructor .num span {
        font-size: 16px;
    }
}

@media screen and (max-width:492px) {
    .members {
        width: 100%;
    }
}